.login-component-padd{
    padding: 40px 30px 30px 30px;
}

.container-login-width{
    width: 450px;
    background: #fff;
}

.logo-img{
    margin: 0 auto;
    display: block;
}

.login-text{
    font-weight: bolder;
}

.login-form-input > input{
    padding: 3px;
    background: #efef;
}

.login-btn{
    background: #13529B;
    border: #13529B;
    text-transform: uppercase;
    width: auto;
    padding: 5px 8px;
}