/* You can add global styles to this file, and also import other style files */

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

:root {
  --header-background: #061B34;
  --header-text: #111111;
  --color-link: #125699;
}

body{
  background-color: #eee;
}

input:focus, input.form-control:focus {
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}